

.special-text {
	color: red;
		text-align: center;
		font-family: Hind Vadodara;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 106.3%;
		/* 51.024px */
		letter-spacing: -0.48px;
}

