




.business__content {
	text-align: center;
}

.special-text {
	color: #331B3B;
		text-align: center;
		font-family: Hind Vadodara;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 106.3%;
		/* 51.024px */
		letter-spacing: -0.48px;
}
.pseudo-class-text {
	color: #331B3B;
		font-family: Hind Vadodara;
		font-size: 48px;
		font-style: normal;
		font-weight: 300;
		line-height: 106.3%;
		letter-spacing: -0.48px;
}
