




.business__content {

	
	
}

.content__title {
	display: block;
	color: #331B3B;
		text-align: center;
		font-family: Hind Vadodara;
		font-size: 48px;
		font-style: normal;
		font-weight: 700;
		line-height: 106.3%;
		/* 51.024px */
		letter-spacing: -0.48px;
		width: 348px;
		background-color: #ECF7FF;
		padding: 92px 416px 384px 526px;
	border-radius: 0px 400px 0px 0px;
	position: relative;
}

.title-after {
	color: #331B3B;
		font-family: Hind Vadodara;
		font-size: 48px;
		font-style: normal;
		font-weight: 300;
		line-height: 106.3%;
		letter-spacing: -0.48px;
}
.buisness__slider {
	position: relative;
	top: -255px;
		left: 100px;
}

.title-after {}

.slider {}

.slider__box {
	display: flex;
}

.slider__item {
	width: 275px;
}

.slider__item-img {}

.slider__item-title {}

.slider__item-text {}