
.business {
background-color: #ECF7FF;
border-radius: 0px 400px 0px 0px;
margin-right: 107px;
height: 578px;
}
.business__content{
padding-top: 92px;
text-align: center;
}
.content__title {
display: block;
color: #331B3B;
text-align: center;
font-family: Hind Vadodara;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 106.3%;
letter-spacing: -0.48px;
width: 348px;}

.busines__title{
width: 348px;
text-align: center;
display: inline-block;
}

.busines__firstStroke {
color: #331B3B;
font-family: Hind Vadodara;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 106.3%;
letter-spacing: -0.48px;
}

.business__title-after{
color: #331B3B;
font-family: Hind Vadodara;
font-size: 48px;
font-style: normal;
font-weight: 300;
line-height: 106.3%;
letter-spacing: -0.48px;
}

.lastWord-mod{
display: inline-block;
position: relative;
z-index: 1;
}

.lastWord-mod::before {
content: "";
position: absolute;
width: 95%;
height: 10px;
background-color:#FDC221 ;
bottom: 0;
z-index: -1;
}

.buisness__slider {
margin-top: 41px;
margin-left: 222px;
}



.slider__box {
display: flex;
gap: 41px;
margin-left: 277px;

}

.slider__item {
border-radius: 10px;
background: #FFF;
box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.05);
text-align: start;
padding: 18px 11px 3px 22px;
width: 308px;
}

.slider__item-img {
margin-bottom: 13px;
display: inline-block;
border-radius: 10px;
background: #FFEED4;
padding: 9px;
}

.slider__item-title {
color: #331B3B;
font-family: Hind Vadodara;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 137.3%; 
letter-spacing: 0.88px;
text-transform: uppercase;
margin-bottom: 6px;
}

.slider__item-text {
color: rgba(51, 27, 59, 0.66);
font-family: Hind Vadodara;
font-size: 15px;
font-style: normal;
font-weight: 300;
line-height: 145.3%; 
letter-spacing: 0.3px;
width: 275px;
}
.swiper-slide {
width: 308px !important;
margin-right: 10px;
gap: 41px;}

.swiper-wrapper{
gap: 41px;
position: relative;
}



.slider-navigation {
display: flex;

align-items: center;
position: relative;
top: -34px;
left: -125px;
gap: 40px;
}



.slider-next-button {
width: 30px; 
height: 30px; 
cursor: pointer;
width: 15px;
height: 15px;
border: 2px solid #333;
border-left: 0;
border-top: 0;
transform: rotate(315deg);
opacity: 30%;
transition: all .3s;

}

.slider-prev-button {

cursor: pointer;
width: 15px;
height: 15px;
border: 2px solid #333;
border-left: 0;
border-top: 0;
transform: rotate(135deg);
opacity: 30%;
transition: all .3s;
}
.slider-prev-button:hover , .slider-next-button:hover {
opacity: 100%;
}


.slider-prev-button::before,
.slider-next-button::before {
  content: '';
  position: absolute;
  width: 250%;
  height: 250%;
  border-radius: 50%;
  border: 2px solid rgb(0, 0, 0);
  box-sizing: border-box;
  top: 0;
  left: 0;
  opacity: 30%;
}

.slider-prev-button::before {
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
}

.slider-next-button::before {
  top: 50%;
  left: 50%;
  transform: translate(-40%, -40%);
}
