@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;600;700&family=Oswald:wght@300;400&display=swap');

body {
font-family: 'Hind Vadodara', sans-serif;
box-sizing: border-box;
overflow-x: hidden;
}
[class$="__container"] {
max-width: 1330px;
margin: 0 auto;
padding: 0 15px;
}

.header__container .header__content {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 43px;
margin-bottom: 162px;
}

.header__list {
display: flex;
gap: 20px;

width: 352px;
}

.header__item {
position: relative;
}

.header__item-text {
color: #331B3B;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.16px;
transition: text-shadow 0.3s ease;
position: relative;
}

.header__item:hover .header__item-text {
text-shadow: 0 0 .45px #292727, 0 0 .45px #2b2929;
}

.header__item:hover .header__item-text::after{
content: "";
width: 21px;
height: 1px;
background-color: #FDC221;
position: absolute;
bottom: 0;
left: 0;
}

.header__social {
display: flex;
justify-content: center;
align-items: center;
gap: 40px;

cursor: pointer;


}

.header__social-link::before{
content: "";
position: absolute;
top: -12px;
left: -9px;
width: 30px;
height: 100%;
background-image: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' width='46' height='49' viewBox='0 0 46 49' fill='none'><path d='M40.7347 35.3674C37.8086 40.3349 32.7551 44.2964 27.1723 46.2689C21.5909 48.2409 15.5957 48.1894 10.7238 45.3196C5.8519 42.4498 2.90043 37.2311 1.91937 31.3935C0.938064 25.5544 1.95301 19.2139 4.87912 14.2465C7.80523 9.27901 12.8587 5.31748 18.4415 3.34498C24.0229 1.37298 30.0181 1.42444 34.89 4.29427C39.7619 7.16409 42.7134 12.3827 43.6945 18.2204C44.6758 24.0595 43.6608 30.4 40.7347 35.3674Z' stroke='%23331B3B' stroke-opacity='0.64' stroke-width='2'/></svg>");
background-repeat: no-repeat;
z-index: -1;
width: 46px;
height: 49.614px;


}






.header__social-link {
display: inline-block;
cursor: pointer;
position: relative;
top: 1px;
left: 3px;
width: 27px;
text-align: center;
}


@media (max-width: 1200px) {
.footer__container {
flex-direction: column;
justify-content: center;
align-items: center;
}
.footer__map {
display: none;}
.footer__container .footer__content {
padding: 40px;
}

.main__container .image-container::before {
content: "";
position: absolute;
border: 2px dashed black;
border-radius: 50%;
width: 85%;
height: 88%;
z-index: -1;
top: 33px;
}
.AboutUs__container .about__bg::before {
content: "";
position: absolute;
border: 2px dashed black;
border-radius: 50%;
width: 445px;
height: 412px;
z-index: -1;
top: 82px;
left: 60px;
}
body .business {
background-color: #ECF7FF;
border-radius: 0px 200px 0px 0px;
}
}


@media (max-width: 1024px){

.header__item-text {
font-size: 24px;}

.header__menu .header__list{
width: 100%;

}
title .title-after .last__Word::before {
height: 12px;
}
.main__container .main__content {
margin-right: 0;
}
.main__container {
flex-direction: column;
}
.main .main__container {
justify-content: center;
align-items: center;
text-align: center;
gap: 73px;
}


.image-container {
width: 50%;
order: -1;
}

.about__bg {
display: none;
}
.AboutUs__container {
text-align: center;
}

.main__content {

}
.title .firstStroke{
font-size: 40px;
}
.title .title-after{
font-size: 40px;
}
body .work {
margin-left: 0
;
}

.work .work__container {translate: 0;
}
.AboutUs__content .AboutUs__text {
width: 100%;
}
.reviews__blocks {
flex-direction: column;
justify-content: center;
align-self: self;


}
.reviews__item-img {
display: inline-block;
}
.reviews__blocks {
margin: 0 auto;
max-width: 448px;
gap: 34px
;
}

.reviews__container .reviews__blocks {
gap: 34px;
}
.header__container .header__content {
margin-bottom: 85px;
}
.main__container .image-container .yellow{
object-fit: contain;
position: absolute;
left: 59px;
top: -148px;
height: 631px;
width: 66%;
z-index: -1;
}

main .main__container .image-container::before {
content: "";
position: absolute;
border: 2px dashed black;
border-radius: 50%;
width: 94%;
height: 105%;
z-index: -1;
top: 5px;
}
}







@media (max-width: 1110px){
.work__title {
margin-right: 15px;
}
.main__container .image-container::before {
content: "";
position: absolute;
border: 2px dashed black;
border-radius: 50%;
width: 94%;
height: 72%;
z-index: -1;
top: 77px;
}

.AboutUs__container .about__bg::before {
content: "";
position: absolute;
border: 2px dashed black;
border-radius: 50%;
width: 445px;
height: 412px;
z-index: -1;
top: 82px;
left: 14px;
}
}


@media (max-width: 940px){
.work__title {
margin-right: 15px;
}
.work__title .busines__firstStroke{
font-size: 43px;	
}
.work__title .business__title-after {
font-size: 43px;	

}
}




@media (max-width: 890px) {
.main__img {
}
.title {
width: 100%;}
.main .main__container {
display: flex;
justify-content: center;
text-align: center;
}

.main__title.title {
margin-bottom: 12px;
width: auto;
}
.main__content .main__text-paragraph{
margin-bottom: 38px;
width: auto;
}
.header__logo-link img {
display: none;
}
.header__content {
margin-bottom: 100px;
}
.work__container .work__content{
display: block;
text-align: center;
}

.work__content .work__text {
margin-bottom: 33px;
width: 100%;
}
.work__title {
margin-bottom: 15px;
}
.slider__work .slider-navigation {
display: none;}

body .business {
border-radius: 0px 200px 0px 0px;
}
.AboutUs__container .AboutUs__content {
margin-top: 50px;
}
.header__container .header__content {
margin-bottom: 85px;
}
.main__container .image-container .yellow {
object-fit: contain;
position: absolute;
left: 59px;
top: -179px;
height: 631px;
width: 66%;
z-index: -1;
}
.main .main__container {
gap: 55px;
}
.work .slider__work{
margin-left: 60px;
}
.rightTopCorner {
display: none;
}

}

body .business {
margin-right: 0;



}





@media (max-width: 700px) {
.title .firstStroke {
font-size: 40px;
width: 100%;
}

.title .title-after {
font-size: 40px;
}
.main__text-paragraph {
font-size: 14px;
width: 100%;
}
.image-container {
display: none;
}
}



@media (max-width: 650px) {
.header__content .header__social {
display: none;}
.buisness__slider .slider-navigation {
display: none;
}
.busines__title .busines__firstStroke{
font-size: 38px;
}
.busines__title .business__title-after{
font-size: 38px;
}
body .business {
border-radius: 0px 100px 0px 0px;
}
.business__container .business__content {
padding-top: 49px;
}
.business__content .buisness__slider {
margin-left: 21px;
}

.header__container .header__content {
margin-bottom: 100px;
}

.header__container .header__content {
justify-content: center;
margin-bottom: 85px;
}

body .main {
margin-bottom: 61px;
}

.title-after .last__word::before {
height: 12px;
}
.business__content .buisness__slider {

padding-bottom: 37px;
}

.AboutUs__content .AboutUs__text {
font-size: 15px;}

.AboutUs__content .AboutUs__firstStroke {

font-size: 38px;

}

.AboutUs__content .AboutUs__title-after {

font-size: 38px;

}
body .work {
border-radius: 200px 0px 0px 0px;
}
.work__content .work__firstStroke {
font-size: 38px;}
.work__content .work__title-after {
font-size: 38px;

}
.reviews__content .reviews__firstStroke {
font-size: 38px;
}

.reviews__content .reviews__title-after {
font-size: 38px;
}

}



@media (max-width: 520px) {
.footer__form-box {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.footer__btn {
width: 100%;
}

		.work .slider__work {
			margin-left: 60px;
		}
}





@media (max-width: 480px) {
.reviews__item .reviews__item-text{
width: auto;
}

}




@media (max-width: 450px) {
.title .firstStroke {

}

header .header__container .header__content {
margin-bottom: 23px;
}

.header__menu {
display: none;
}
.business__content .busines__title {
width: auto;
}
.header__logo-link img {
display: inline-block;
}

.business__content .buisness__slider {
margin-left: 0;
}

}




@media (max-width: 340px){
.work__content .work__firstStroke {
font-size: 32px;
}
.reviews__content .reviews__firstStroke {
font-size: 32px;
}

.reviews__content .reviews__title-after {
font-size: 32px;
}

}