.AboutUs {

}
.AboutUs__container {
display: flex;
justify-content: space-between;
}

.about__bg {
width: 762px;
height: auto;
position: relative;

}

.about__bg::before {
content: "";
position: absolute;
border: 2px dashed black;
border-radius: 50%;
width: 517px;
height: 468px;
z-index: -1;
top: 38px;
left: 88px;
}


.about__img {
width: 621px;
height: auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.about__img-decor {
width: 472px;
height: auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
z-index: -1;
}

.about__dashedCircle {
position: absolute;
width: 604px;
height: 598px;
border: 2px dashed black;
border-radius: 50%;
top: -103px;
right: 172px;
z-index: -1;
}

.AboutUs__content {
margin-top: 80px;
}

.AboutUs__title{
margin-bottom: 22px;
}
.AboutUs__firstStroke {
color: #331B3B;
text-align: center;
font-family: Hind Vadodara;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 106.3%;
letter-spacing: -0.48px;
}

.AboutUs__title-after {
color: #331B3B;
font-family: Hind Vadodara;
font-size: 48px;
font-style: normal;
font-weight: 300;
line-height: 106.3%;
letter-spacing: -0.48px;
}
.AboutUs__text {
color: rgba(51, 27, 59, 0.66);
font-family: Hind Vadodara;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 146.3%; /* 24.871px */
letter-spacing: 0.34px;
margin-bottom: 9px;
width: 515px;
}

.AboutUs__text:last-of-type {
margin-bottom: 37px;
}