.main {
    margin-bottom: 148px;
}

.main__content {
    display: flex;
    justify-content: space-between;
}

.main__text-title {
    position: relative;
    color: #331B3B;
    font-family: Hind Vadodara;
    font-size: 87px;
    font-style: normal;
    font-weight: 300;
    line-height: 99.8%;
    letter-spacing: -0.87px;
    width: 498px;
    margin-bottom: 27px;
    z-index: 2;
}

.main__text-title-before {
}

.main__text-title p {
    font-weight: 700;border-radius: 50%;
    color: rgba(51, 27, 59, 0.66);
    font-family: Hind Vadodara;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 146.3%; /* 24.871px */
    letter-spacing: 0.34px;
    width: 515px;
    margin-bottom: 31px;
    margin-right: 94px;
}

.main-button{
    border-radius: 10px;
    background: #331B3B;
    padding: 22px 49px;
    color: #fff;
    cursor: pointer;
    line-height: 137.3%;
    letter-spacing: 0.34px;
    text-transform: uppercase;
    font-family: Hind Vadodara;
    font-size: 17px;
    border: none;
}




.main__img {
    position: absolute;
    top: -85px;
    right: -7px;
    z-index: 10;
}



.yellow {
    position: absolute;
    top: -145px;
    right: 177px;
    z-index: 2;
}
.yellow2 {
    position: absolute;
    top: -231px;
    right: -15px;
}

.main-button:hover{
    background: #FDC221;
    color: #331B3B;
}

.circle {
    position: absolute;

}




.test {
    position: relative;
}

.rightTopCorner {
    width: 867.54px;
    height: 819.82px;
    background: rgba(254, 200, 40, 0.2);
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
}

.dashedCircle {
    position: absolute;
    width: 581px;
    height: 498px;
    border: 2px dashed black;
    border-radius: 50%;
    top: -50px;
    right: 158px;
    z-index: 1;
}
